body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #1a1a1a; 
  color: #186ef9;
}

::-webkit-input-placeholder {
  color: #FDFFED;
}

#bgVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.container {
  display: flex;
  width: 80%;
  max-width: 900px;
  margin: 50px auto;
  background-color: #efedff;
  border-radius: 10px;
  overflow: hidden;
}

/* Left side - form */
.form-box {
  width: 50%;
  padding: 40px;
  position: relative;
}

.form-box h2 {
  color: #186ef9;
  font-size: 28px;
  
}

.form-box p {
  color: #7f93ed;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 400%;
  font-size:18px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #818181;
  border-radius: 5px;
  background-color: #8eabe4;
  color: #fbfcf6;
  margin-top: 5px;
}

button {
  width: 95%;
  padding: 10px;
  background-color: #005ae6;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color: #fbfcf6;
}

button:hover {
  background-color: #4884dd;
}

a{
  text-decoration: none;
  color: #fbfcf6;
}

.image-box {
  width: 70%;
  background-color: #2f2f2f;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

